@model ProductSegmentModel

<input asp-for="Id" type="hidden" />

<div class="panel-group">
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @{
                    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
                    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
                }

                <div id="product-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#product-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductList", "ProductSegment", new { productSegmentId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("ProductExclude", "ProductSegment", new { productSegmentId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Name: { editable: false, type: "string" },
                                            Sku: { editable: false, type: "string" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)],
                                @Html.Partial("_GridPagerMessages")
                            },
                            editable: {
                                confirmation: "@T("Plugins.GBS.ProductManagement.Products.Fields.ExcludeConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "Name",
                                    title: "@T("Plugins.GBS.ProductManagement.Products.Fields.Name")"
                                }, {
                                    field: "Sku",
                                    title: "@T("Plugins.GBS.ProductManagement.Products.Fields.Sku")"
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Action("Edit", "Product")/#=Id#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }, {
                                    title: "@T("Plugins.GBS.ProductManagement.Products.Fields.Exclude")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    command: [
                                        {
                                            name: "destroy",
                                            text: "@T("Plugins.GBS.ProductManagement.Products.Fields.Exclude")"
                                        }
                                    ]
                                }
                            ]
                        });
                    });
                </script>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Plugins.GBS.ProductManagement.Segment.Tab.Product.Message")
            </div>
        </div>
    }
</div>