@model ProductSegmentModel

<input asp-for="Id" type="hidden" />

<div class="panel-group">
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @{
                    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
                    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
                }
                <div id="ProductAttributes-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#ProductAttributes-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductAttributeList", "ProductSegment", new { productSegmentId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Name: { editable: false, type: "string" },
                                            Sku: { editable: false, type: "string" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)],
                                @Html.Partial("_GridPagerMessages")
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "Name",
                                    title: "@T("Plugins.PDD.ProductManagement.ProductAttributes.Fields.Name")"
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Action("Edit", "ProductAttribute")/#=Id#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }, {
                                    field: "Id",
                                    title: "@T("Plugins.PDD.ProductManagement.ProductAttributes.Button.Add")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(!isAttributeAdded) {# <a class="btn btn-default" href="@Url.Content("~/Admin/ProductSegment/ProductAttributeMappingCreate?productSegmentId="+ Model.Id+ "&productAttributeId=")#=Id#"><i class="fa fa-plus-square"></i>@T("Plugins.PDD.ProductManagement.ProductAttributes.Button.Add")</a>#}#'
                                }, {
                                    field: "Id",
                                    title: "@T("Plugins.PDD.ProductManagement.ProductAttributes.Button.Edit")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(isAttributeAdded) {# <a class="btn btn-default" href="@Url.Content("~/Admin/ProductSegment/ProductAttributeMappingEdit?productSegmentId=" + Model.Id+ "&productAttributeId=")#=Id#"><i class="fa fa-pencil"></i>@T("Plugins.PDD.ProductManagement.ProductAttributes.Button.Edit")</a>#}#'
                                }
                            ]
                        });
                    });
                </script>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Plugins.PDD.ProductManagement.Segment.Tab.ProductAttributes.Message")
            </div>
        </div>
    }
</div>