@model ProductSegmentModel

@{
    const string hideInfoName = "ProductSegmentPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoName, defaultValue: true);

    const string hideSegmentOptionPageName = "ProductSegmentPage.HideSegmentOptionBlock";
    var hideSegmentOptionBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSegmentOptionPageName);

    //const string hideMappingsBlockAttributeName = "CategoryPage.HideMappingsBlock";
    //var hideMappingsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideMappingsBlockAttributeName, defaultValue: true);

    //const string hideSeoBlockAttributeName = "CategoryPage.HideSEOBlock";
    //var hideSeoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSeoBlockAttributeName, defaultValue: true);

    //const string hideProductsBlockAttributeName = "CategoryPage.HideProductsBlock";
    //var hideProductsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideProductsBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="segment-panels">
            <nop-panel asp-name="segment-info" asp-icon="fa fa-info" asp-title="@T("Admin.Catalog.Categories.Info")" asp-hide-block-attribute-name="@hideInfoName" asp-hide="@hideInfoBlock">@await Html.PartialAsync(ProductManagementDefaults.AdminViewPath +"ProductSegment/_CreateOrUpdate.Info.cshtml", Model)</nop-panel>

            <nop-panel asp-name="segment-SegmentOption" asp-icon="fa fa-television" asp-title="@T("Admin.Catalog.Categories.Display")" asp-hide-block-attribute-name="@hideSegmentOptionPageName" asp-hide="@hideSegmentOptionBlock">@await Html.PartialAsync(ProductManagementDefaults.AdminViewPath +"ProductSegment/_CreateOrUpdate.SegmentOption.cshtml", Model)</nop-panel>
        </nop-panels>
    </div>
</div>
