@model ProductSegmentModel
@{
    Layout = "_AdminLayout";

    //page title
    ViewBag.Title = T("Plugins.PDD.ProductManagement.Segment.EditSegmentDetail").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ProductManagement");
}

<form asp-controller="ProductSegment" asp-action="Edit" method="post" id="productsegment-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.PDD.ProductManagement.Segment.EditSegmentDetail") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugins.PDD.ProductManagement.Segment.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/PDDeveloper.Plugin.ProductManagement/Views/ProductSegment/_CreateOrUpdate.cshtml", Model)
</form>